.wrapper{
    max-width: 1020px;
    margin: 0 auto;
}

#header{
    display: flex;

    flex-direction: row;

    justify-content: space-around;
}


#main{
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;


} 


#footer{
    display: flex;

    flex-direction: row;

    justify-content: space-around;
} 


.main-block1 {
    height: 512px;
    background: url(img/bulb.jpg) no-repeat;
}

.main-block2 {
    height: 484px;
    background: url(img/clock.png) no-repeat;
}

.main-block3{
    height: 484px;
    background: url(img/goodth.png) no-repeat;
}




.icon-burger{
    display: inline-flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}
.icon-burger span{
    background: #333;
    height: 5px;
}
.menu-link{
    display: inline-flex;
    align-items: center;
}