@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.body{
    background: #3e3b4a;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    max-width: 1020px;
    margin: 0 auto;
}

#header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#main .wrapper{
    display: flex;
    flex-wrap: wrap;
} 


#main .wrapper .main-block1, .main-block2, .main-block6{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
} 

#main .wrapper .main-block3, .main-block4, .main-block5{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}



#footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


#header{
    padding: 70px 0 70px 0;
}

#header .menu {
    color: #898691;
    text-transform: uppercase;

}

#header .menu-link{
    text-decoration: none;
}

.header-search a{
    color: #898691;
    text-transform: uppercase;
    text-decoration: none;
}

.fa{
    color: #898691; 
}

#header .header-logo{
    font: 48px bold;
    text-align: center;
}

#header .header-logo2{
    font: 13px normal;
    color: #898691;
}

#footer{
    padding: 50px 0 50px 0;
}

#footer .footer-copy{
    color: #898691;
    font: 12px;
}

.main-block1 {
    height: 432px;
    width: 100%;
    background: url(img/bulb.jpg) no-repeat;
    padding: 40px 0 40px 40px;
    margin-bottom: 20px;
}

.main-block2 {
    height: 404px;
    width: 582px;
    background-color: #71b7c3;
    background-image: url(img/clock2.png);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 40px 0 40px 40px;
    
}

.main-block3{
    height: 324px;
    width: 378px;
    background: #eb7b61;
    margin-bottom: 20px;
    text-align: center;
    padding: 80px 0 80px 0;
}


.email-area{
    background: transparent;
    border-style: solid;
    border-color: #ffd9d1;
    padding: 5px;
    height: 38px;
    width: 275px;
    margin-bottom: 10px;
}

.email-area::placeholder{
    color: #ffc7b0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.subscribe{
    background: #66689c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    height: 43px;
    width: 285px;
    margin-bottom: 30px;
}

.main-block4{
    height: 420px;
    width: 260px;
    background: url(img/pic1.jpg) no-repeat;
    margin-right: 20px;
}


.main-block5{
    height: 420px;
    width: 260px;
    background: url(img/pic2.jpg) no-repeat;
    margin-right: 20px;
}

.main-block5 .main-block-title{
    text-align: center;
}

.main-block6{
    height: 340px;
    width: 420px;
    background-color: #1ab467;
    background-image: url(img/pic3.png);
    padding: 40px 0 40px 40px;
}

.main-block6 .main-block-text{
    font-size: 20px;
}

.main-block6 .main-block-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.main-block-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #3d3c4a;
    height: 30px;
    width: 95px;
    background: #ffe18e;
    text-align: center;
    padding: 5px 0 5px 0;
}

.top-word{
    font-size: 14px;
    font-weight: bold;
    color: #ffc7b0;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-block-title, .main-block-text, .main-block3-text2, .header-logo {
    color: white;
    
}

.main-block-title{
    line-height: 1;
}

.main-block2 .main-block-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.main-block2 .main-block-text{
    font-size: 24px;
}

.main-block3 .tnr{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.main-block3 .big{
    font-size: 48px;
    margin: 0;
}

.main-block3 .small{
    font-size: 24px;
    margin-bottom: 40px;
}

.main-block3 .main-block3-text2{
    font-size: 14px;
}

.main-block1 .big{
    font-size: 72px;
    margin: 0;   
}

.main-block1 .small{
    font-size: 36px;
}

.main-block-link1, .main-block-link2, .main-block-link6{
    border-style: solid;
    border-color: #ffe18f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    width: 120px;
    padding: 0 0 5px 10px;
    margin-top: auto;
}

.icon-burger{
    display: inline-flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}
.icon-burger span{
    background: #333;
    height: 5px;
}
.menu-link{
    display: inline-flex;
    align-items: center;
}