.point {
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 5px;
    text-align: center;
    background-color:rgb(101, 210, 238);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#a {
    background-color: rgb(145, 109, 230);
}

#b{
    background-color:rgb(190, 61, 180);
}

#c{
    background-color:rgb(177, 81, 169);
}

#d{
    background-color:rgb(231, 162, 224);
}