@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap');

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.body{
    font-family: 'Exo 2', sans-serif;
}

#header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}

.header-logo{
    font-family: 'Cinzel', serif;
    text-align: center;
    text-transform: uppercase;
}


.block1{
    height: 1042px;
    width: 100%;
    background: url(img/pic1.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block1 h1{
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;  
}

.block1-button{
    height: 16px;
    width: 194px;
    background-color: #ff6d6d; 
    font-family: 'Exo 2' , sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-bottom: 22px;
    padding: 17px 0 17px 0;
}

.block1-play{
    margin-top: 40px;
    margin-bottom: 38px;
    color: #8286a3;
}

.block1-details{
    color: #282828;
    font-size: 14px;
    opacity: 0.66;
}

.block2-3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 725px;
}

.block2{
    max-height: 595px;
    max-width: 874px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 180px 173px 0 165px;
}

.block2-title, .block4-title, .block5-title, .block8-title{
    text-transform: uppercase;
    color: #ff6d6d;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 15px 0;
    margin: 0;
}

.block2-text1, .block4-text1, .block5-text1{
    font-size: 40px;
    padding: 0 0 55px 0;
}

.block2-points{
    color: #ff6d6d;
}

.block2-text2{
    opacity: 0.66;
    padding-bottom: 40px;
    margin: 0;
}

.block2-text3, .block5-text2{
    opacity: 0.66;
    margin: 0;
}

.block3{
    width: calc(100% - 874px);
    background-image: url(img/pic3.jpg);
}

.block4{
    height: 585px;
    width: 100%;
    background-image: url(img/pic2.jpg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block4 .news{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.block4-news-title{
    font-size: 22px;
    font-weight: 400;
}

.block4-news1-text, .block4-news2-text{
    padding-right: 30px;
    opacity: 0.66;
}

.block4-news3-text{
    opacity: 0.66;
}

.block5{
    height: 550px;
    width: 100%;
    background-image: url(img/Безимени-9.png); 
}


.block5-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 144px 215px 0 735px;
}

.block6{
    background-image: url(img/grayback.jpg);
    height: 648px;
    width: 100%
}


.block6 .authors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 110px 0 90px 0;
}

.author-name{
    padding: 30px 0 15px 0;
    color: white;
    font-size: 22px;
}

.author-role{
    padding-bottom: 40px;
    color: #ff6d6d;
}

.author-description{
    color: white;
    opacity: 0.66;
    font-style: italic;
    font-weight: 300;
}

.block6-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    opacity: 0.66;
}

.block8{
    background-color: #323969;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.block8{
    padding-top: 96px;
}

.block8-title{
    padding-bottom: 15px;
}

.block8-text1{
    color: white;
    font-size: 40px;
    padding-bottom: 40px;
}

.block8-text2{
    color: white;
    padding: 0 180px 35px 1070px;
}


.name, .email, .password{
    margin: 0 30px 0 0;
    width: 257px;
    height: 45px;
    background-color: #464c77;
    opacity: 0.6;
    border-width: 2px;
    border-color: #999cb4;
    border-radius: 3px;
    border-style: solid;
}

::placeholder{color: white; padding-left: 30px;}

.block8-button{
    width: 260px;
    height: 53px;
    background-color: #ff6d6d;
    border-color: transparent;
    border-radius: 3px;
    border-style: solid;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .25);
}

.block8-description{
    padding: 50px 0 85px 0;
    color: white;
    opacity: 0.6;
}

.block8-description a{
    color: white;
    opacity: 0.6;
}

.icon-burger{
    display: inline-flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}
.icon-burger span{
    background: #333;
    height: 5px;
}

.menu-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #282828;
}

.header-search a{
    text-decoration: none;
    color: #282828;
}

#footer .wrapper{
    width: 1440px;
    height: 310px;;
    background-image: url(img/Безимени-11.png);
}

.footer-text1, .footer-phone, .footer-address, .footer-column-points{
    font-size: 14px;
    opacity: 0.66;
    text-decoration: none;
    color: black;
}

.footer-column2, .footer-column3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.support{
    font-weight: 400;
    font-size: 22px;
}

.one{
    padding-bottom: 22px;
    padding-top: 10px;
}


#footer .footer-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 85px 0 98px 0;
}

.footer-form{
    display: flex;
}


.footer-button{
    width: 50px;
    height: 52px;
    background-color: #ff6d6d;
    border-color: transparent;
    border-radius: 0 3px 3px 0;
    margin: 0;
    padding: 0;
    border: 2px #ff6d6d;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, .35);
    color: white;
}

.footer-email{
    width: 215px;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 3px 0 0 3px;
    margin: 0;
    padding: 0;
    border: 1px #b8b8bf solid;
    border-right-color: #ff6d6d;
}

::placeholder{
    color: #aeaeae;
    margin-left: 30px;
}

.foot-log{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    opacity: 0.2;
}


/*********************************адаптация*****************************/

@media (min-width:0) and (max-width:375px){
    .header-logo{font-size: 12px;}
    .icon-burger{margin: 0 2px 0 2px;}
    .block1{height: 421px}
    .block2-3{padding-bottom: 10px; height: 550px;}
    .block2{padding: 10px;}
    .block4{height: 500px;}
    .block4-text1{font-size: 16px; padding: 10px;}
    .block4-news-title {font-size: 14px;}
    .block4 .news {padding-top: 0;}
    .block4 .news .news1{display: flex; flex-direction: column;}
    .block4-news1-text, .block4-news2-text, .block4-news3-text{font-size: 12px;}
    .block4-news1-logo, .block4-news2-logo, .block4-news3-logo{display: none;}
    .block5-content {padding: 10px 0 0 10px; height: 500px;}
    .block5-text1 {padding: 0 0 10px 0;}
    .author-name{padding: 2px 0 5px 0;}
    .block6 .authors{padding: 10px 0 10px 0;}
    .author-role {padding-bottom: 10px;}
    .author-description{font-size: 12px; padding-bottom: 10px;}
    .block6-logos{display: none;}
    .block8 {padding-top: 10px; display: flex; flex-direction: column; padding: 10px;}
    .block8 .block8-text2{padding: 0;}
    .block8 .form .name, .email, .password {margin-bottom: 5px;}
    .block8 .block8-description{padding: 10px}
    .block8 .block8-text2{padding-bottom: 5px;}
    #footer .footer-columns {padding: 10px 0 10px 10px; display: flex; flex-direction: column;}
}

@media (min-width: 376px) and (max-width:465px){
    .block1{height: 500px;}
    .block2-3{height: 550px;}
    .block2{padding: 15px 0 0 15px;}
    .block4{height: 500px;}
    .block4-text1{font-size: 16px; padding: 10px;}
    .block4-news-title {font-size: 14px;}
    .block4 .news {padding-top: 0;}
    .block4 .news .news1{display: flex; flex-direction: column;}
    .block4-news1-text, .block4-news2-text, .block4-news3-text{font-size: 12px;}
    .block4-news1-logo, .block4-news2-logo, .block4-news3-logo{display: none;}  
    .block5-content {padding: 10px 0 0 10px; height: 500px;}
    .block5-text1 {padding: 0 0 10px 0;}
    .block6{height: 370px;}
    .author-name{padding: 2px 0 5px 0; font-size: 12px;}
    .block6 .authors{padding: 10px 0 10px 0;}
    .author1-photo, .author2-photo, .author3-photo{display: none;}
    .author-role {padding-bottom: 10px;}
    .author-description{font-size: 12px; padding-bottom: 10px;}
    .block6-logos{display: none;}
    .block8 {padding-top:10px; display: flex; flex-direction: column; padding: 10px;}
    .block8 .form{display: flex; flex-direction: column;}
    .block8 .block8-text2{padding: 0;}
    .block8 .form .name, .email, .password {margin-bottom: 15px;}
    .block8 .block8-description{padding: 15px}
    .block8 .block8-text2{padding-bottom: 15px;}
    #footer .footer-columns {display: flex; flex-direction: column; padding: 30px 0 0 100px;}
}

@media (min-width: 466px) and (max-width: 560px){
    #header{padding: 15px}
    .block1{height: 500px;}
    .block2-3{height: 600px;}
    .block2{padding: 15px 0 0 15px;}
    .block4{height: 500px;}
    .block4-text1{font-size: 16px; padding: 10px;}
    .block4-news-title {font-size: 14px; margin: 2px 0 2px 0;}
    .block4 .news {padding-top: 0;}
    .block4 .news .news1{display: flex; flex-direction: column;}
    .block4-news1-text, .block4-news2-text, .block4-news3-text{font-size: 12px;}
    .block5-content {padding: 10px 0 0 30px; height: 500px;}
    .block5-text1 {padding: 0 0 10px 0;}
    .block6 .authors{padding: 10px 0 10px 0;}
    .author-name{padding: 2px 0 5px 0;}
    .author-role {padding-bottom: 10px;}
    .author-description{font-size: 12px; padding-bottom: 10px;}
    .block8 {padding-top:10px; display: flex; flex-direction: column; padding: 10px;}
    .block8 .form{display: flex; flex-direction: column;}
    .block8 .block8-text2{padding: 0;}
    .block8 .form .name, .email, .password {margin-bottom: 15px;}
    .block8 .block8-description{padding: 15px}
    .block8 .block8-text2{padding-bottom: 15px;}
    #footer .footer-columns {display: flex; flex-direction: column; padding: 30px 0 0 30px;}
    #footer .foot-log{display: flex; flex-direction: row; justify-content: flex-start;}
    .footer-logos{padding-right: 15px;}
}

@media (min-width: 561px) and (max-width:730px){
    #header{padding: 15px}
    .block1{height: 500px;}
    .block2-3{height: 600px;}
    .block2{padding: 15px 0 0 15px;}
    .block4{height: 500px;}
    .block4-text1{font-size: 16px; padding: 10px;}
    .block4-news-title {font-size: 14px; margin: 2px 0 2px 0;}
    .block4 .news {padding-top: 0;}
    .block4 .news .news1{display: flex; flex-direction: column;}
    .block4-news1-text, .block4-news2-text, .block4-news3-text{font-size: 12px;}
    .block5-content {padding: 10px 0 0 30px; height: 500px;}
    .block5-text1 {padding: 0 0 10px 0;}
    .block6 .authors {padding: 30px 0 30px 0;}
    .author-name{padding: 2px 0 5px 0;}
    .author-role {padding-bottom: 10px;}
    .author-description{font-size: 12px; padding-bottom: 10px;}
    .block8 {padding-top:10px; display: flex; flex-direction: column; padding: 10px;}
    .block8 .form{display: flex; flex-direction: column;}
    .block8 .block8-text1{text-align: center;}
    .block8 .block8-text2{padding: 0;}
    .block8 .form .name, .email, .password {margin-bottom: 15px;}
    .block8 .block8-description{padding: 15px}
    .block8 .block8-text2{padding-bottom: 15px;}
    #footer .footer-columns {display: flex; flex-direction: column; padding: 30px 0 0 30px;}
    #footer .foot-log{display: flex; flex-direction: row; justify-content: flex-start;}
    .footer-logos{padding-right: 15px;}
}

@media (min-width: 731px) and (max-width:1048px){
    .block1{height: 500px;} 
    .block2-3{height: 600px;}
    .block2{padding: 60px 0 0 60px;}
    .block4{height: 500px;}
    .block4-text1{font-size: 16px; padding: 20px;}
    .block4-news-title {font-size: 14px; margin: 2px 0 2px 0;}
    .block4 .news {padding-top: 0;}
    .block4 .news .news1{display: flex; flex-direction: column;}
    .block4-news1-text, .block4-news2-text, .block4-news3-text{font-size: 12px;}
    .block5-content {padding: 10px 0 0 30px; height: 500px;}
    .block5-text1 {padding: 0 0 10px 0;}
    .block6 .authors {padding: 100px 0 30px 0;}
    .author-name{padding: 2px 0 5px 0;}
    .author-role {padding-bottom: 10px;}
    .author-description{font-size: 12px; padding-bottom: 10px;}
    .block8 {padding-top:10px; display: flex; flex-direction: column; padding: 10px;}
    .block8 .form{display: flex; flex-direction: column;}
    .block8 .block8-text1{text-align: center;}
    .block8 .block8-text2{padding: 0;}
    .block8 .form .name, .email, .password {margin-bottom: 15px;}
    .block8 .block8-description{padding: 15px}
    .block8 .block8-text2{padding-bottom: 15px;}
    #footer .footer-columns {display: flex; flex-direction: column; padding: 30px 0 0 30px;}
    #footer .foot-log{display: flex; flex-direction: row; justify-content: flex-start;}
    .footer-logos{padding-right: 15px;}
}

@media (min-width: 1049px) and (max-width: 1400px){
    .block5-content {padding: 150px 0 0 150px;}
    .block5-text1 {padding: 0 0 10px 0;}  
    .name, .email, .password, .block8-button {margin-right: 5px; width: 200px;}  
    .block8 .block8-text2{padding: 0;}
    #footer .footer-columns {display: flex; flex-direction: row; justify-content: flex-start; padding: 30px 0 0 30px;}
    #footer ,.footer-column2, .footer-column3{ padding-right: 20px;}

}